*{
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%;
	border-width: 2px;
	border: 2px dotted #e4e4e4;
	border-color: #ffffff;
}

.container{
	text-align: center;
	background-color: white;
	width: 300px;
	height: 550px; 
	margin:0 auto;
	margin-top: 50px;
}

.container .Myhead img{
	display: inline-block;
	height: 200px;
	width: 200;
	border-radius: 50%;
	background: #ffffff;
}

.container .name{
	font-size: 30px;
	font-family: 
}

.container .first{
	font-size: 15px;
}

.container .second{
	font-size: 15px;
	text-indent: 5px;
	padding-right: 10px;
	padding-left: 10px;

}

.container .class{
	font-size: 20px;
}

.footer img{
	padding-top: 50px;
}
